{% layout "base.liquid" %}
{% block content %}
{% capture files %}{{ files }}{% endcapture %}
{% assign files_names = files | remove: ".xml" | split: ',' %}
<div class="container">
<h1>{{content}}</h1>
<ul>
{{files_url[2]}}
{% for file in files_names %}
<li><a href="{{file}}">{{file}}</a></li>
{% endfor%}
</ul>
</div>
{% endblock %}
